# Dependencies and versioning for the aws_test_functions module.
# Author: Andrew Jarombek
# Date: 11/24/2020

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boto3 = ">=1.16.25"
boto3_type_annotations = ">=0.3.1"

[requires]
python_version = "3.8"